DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=komisi_sales

NIS_DB_HOST=
NIS_DB_PORT=
NIS_DB_USER=
NIS_DB_PASSWORD=
NIS_DB_NAME=

GOOGLE_SPREADSHEET_ID=
GOOGLE_SPREADSHEET_ID_OLD_CUSTOMER=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
